.header {
    background: #000;
    ul {
        overflow: hidden;
        li {
            float: left;
            line-height: 80px;
            width: 100px;
            text-align: center;
            cursor: pointer;
            transition: all 0.5s;
            a {
                color: #fff;
            }
        }
        li:hover {
            background: #fff;
        }
        li:hover a {
            color: #000;
        }
    }
}
.footer{
	background: #000;
	color:#fff;
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	position: absolute;
	bottom: 0;
	width: 100%;
}