<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <%-include templates/header  %>

    <p> 这是 layout 的内容 </p>

    <%-include templates/footer  %>
</body>
</html>